<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    <h1>Productos</h1>
    <p>Prendas disponibles!!</p>
    <ul>
        {{#each products}}
        <li>{{this.id}} - {{this.nombre}} - ${{this.precio}}</li>
        {{/each}}
    </ul>
    <button><a href="/realtimeproducts">Ir a productos...</a></button>
</body>

</html>